<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Resetowanie hasła</title>
</head>

<body>
  <h1>Cześć {{username}}!</h1>
  <h3>Skorzystaj z tego kodu aby zresetować hasło:</h3>
  <p style="color: #0000e6; font-size: 26px; font-weight: bold;">{{hashCode}}</p>
</body>

</html>
