<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reset password</title>
</head>

<body>
  <h1>Welcome {{username}}!</h1>
  <h3>Use this code to reset your password:</h3>
  <p style="color: #0000e6; font-size: 26px; font-weight: bold;">{{hashCode}}</p>
</body>

</html>
